body{
    background: #534f50;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #e3dede;
    background-image: url('../images/backgroundPhoto.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

}

table{
    border: 1px solid #e3dede;
}

td, th{
    border: 1px solid #e3dede;
    padding: 3px 10px;
}


.container{
    width: 1000px;
    margin: 0 auto;
    padding: 20px 50px 50px 50px;
    opacity: 0.95;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: #004745;
}

.container{
    background: #333030;
    margin-top: 20px;
    height: 80vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

fieldset{
    width: 500px;
}